

.name-title{
    letter-spacing: 0.07em;
    font-weight: 900;
    font-size: 20px;
    color: #FFD54F;
    transition: 0.7s;
}

.name-title:hover{
    font-size: 22px;
}

.logo-style{
    width: 55px;
    transition: 0.2s;
}

.logo-style:hover{
    width: 65px;
}


