/*@import url('https://fonts.gooleapis.com/css?family=Oswald:400,700');*/

.div-content{
    padding: 10px;
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

/*

front side (3D box layout)
-----------------------------------------

*/
.isometric-template {
    position: relative;
    margin: 0 20px 0 20px;
    transform: skewY(-15deg);
}

.isometric-menu {
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    position: relative;
    list-style: none;
    min-width: 200px;
    background: #616161;
    padding: 20px;
    z-index: var(--z-index);
    transition: 0.5s;
}

.isometric-menu:hover{
    background: #FFA000;
    transform: translateX(30%);
    transition: 0.5s;
}
/*
-----------------------------------------
*/

/*
left side
-----------------------------------------
*/
.isometric-menu::before{
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    min-width: 40px;
    height: 100%;
    background: #616161;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

.isometric-menu:hover::before{
    background: #FFA000;
}
/*
-----------------------------------------
*/

/*
upper side
-----------------------------------------
*/
.isometric-menu::after{
    content: '';
    position: absolute;
    top: -62%;
    left: -10%;
    width: 100%;
    min-height: 40px;
    background: #616161;
    transform-origin: right;
    transform: skewX(45deg);
    transition: 0.5s;
}

.isometric-menu:hover::after{
    background: #FFA000;
}

.isometric-menu:last-child::after{
    box-shadow: -110px 110px 20px 10px rgba(0,0,0,0.15);
}
/*
-----------------------------------------
*/

/*
each layer content
*/
.title-nav{
    margin: 0;
    color: #E0E0E0;
    display: block;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.title-nav:hover{
    color: white;
    cursor: pointer;
}

